<!-- <slider></slider> -->
<div class="content">
    <div class="top_img"></div>
    <div class="bottom_img"></div>
    <div class="inner">
        <sidebar></sidebar>
        <div class="right">
        <h1>{{pageTitle}}</h1>
          <h2>{{subtitle}}</h2>
           <p>
              Relics of Annorath is a groundbreaking sandbox MMORPG developed by gamers for gamers! The unique gameplay experience is a one of a kind, as of today not found in other online games.
              <br>
              <br>
              The realistic world features a dynamic flora and fauna as well as an unpredictable nature-like weather system that affects the world and so its nature, animals and of course players. The world grows with its players - you will decide what it looks like, where resources can be long-term cultivated or grow extinct.
              <br>
              <br>
              You will be able to build structures, houses, facilities and even strongholds of your liking and customized for your needs - off the rack, custom designed for you by others or even self made! You will play in a world with a dynamic player-based economy system with absolute freedom. The game itself does not give you restrictions to law - as there is none. Every town, guild or alliance has to keep their rules intact and make sure others live by it. Those who don’t, better run! Outside the capitals are no guards and only the law of the survival of the fittest will keep you safe.
              <br>
              <br>
              Join, or lead, a guild or alliance and fight with them for glory, fame and ground. Stay a lone wolf in this world and make ends meet by mastering your skills in sympathy, trading, bribing and murder.
              <br>
              <br>
              You don’t like fighting? Make yourself a name by owning shops, taverns and other services that will make players pay for your assistance. Whether you become the world's most famous smith or the best breeder in all Merasurien - it’s up to you what you make of your life in Relics of Annorath.
              <br>
              <br>
              Life is valuable. Not like in other games, where you spawn right back into place and you rather take the risk of dying than fighting for your life In Relics of Annorath coming back to life is a challenge all by itself. Ever imagined what the underworld looks like? Die in Relics of Annorath and you will see. Be excited to find out what we have planned for you!
              <br>
              <br>
              Join today and see the game developing and help us improve. Our greatest value is our community that has been throwing in ideas, feedback and wishes ever since the beginning. We cannot promise to implement everything - but we promise to take it into consideration.
              <br>
              <br>
              Be more you’ve ever dreamt of. Be part of a great community. Be in Relics of Annorath.
              <br>
              <br>
            </p>
        </div>
        <hr class="clear">
    </div>
</div>
