<div class="content">
    <div class="top_img"></div>
    <div class="bottom_img"></div>
    <div class="inner">
        <sidebar></sidebar>
        <div class="right">
          <h1>Non-disclosure agreement</h1>

          <p>
          <br>
          <b>Paragraph I.</b><br>
          Persons entrusted with confidential information and service providers agree to treat<br>
          in the strictest confidence mutually communicated proprietary data and information on<br>
          forum posts, wiki entries, Mantis entries, incoming mail, correspondence, telephone<br>
          calls, information from customer visits and on their status, in particular in connection<br>
          with new developments, presentations, experiments and discussions. This applies in<br>
          particular to information regarding business correspondence from customers and clients<br>
          of the service provider. Both contracting partners shall undertake all necessary measures<br>
          to prevent third parties from gaining unauthorized knowledge thereof.<br>
          <br>
          <b>Paragraph II.</b><br>
          The person entrusted with confidential information agrees not to transmit mutually disclosed<br>
          information to third parties, not to document / record / communicate such information outside<br>
          of the company, and/or to exploit that information themselves without express written consent.<br>
          <br>
          <b>Paragraph III.</b><br>
          The parties will immediately return all documents that they have received from one another in<br>
          connection with the development, etc. at the end of the confidentiality agreement. Any files<br>
          that are created and all copies will be deleted from all data storage devices.<br>
          <br>
          <b>Paragraph IV.</b><br>
          The obligation to maintain confidentiality does not apply to information that is already<br>
          public knowledge (with the exception of non-public, password protected access areas) and to<br>
          developments that are already prior art, and therefore no longer eligible for protection.<br>
          <br>
          <b>Paragraph V.</b><br>
          Irrespective of any potential claim for damages, the person entrusted with confidential<br>
          information agrees to pay a contractual penalty in an amount of Euro 10,000 for each breach<br>
          of this agreement.<br>
          <br>
          <b>Paragraph VI.</b><br>
          The parties agree that Basel, Switzerland shall be the exclusive court of jurisdiction<br>
          for all disputes arising from this agreement.<br>
          <br>
          <b>Paragraph VII.</b><br>
          If one or more provisions of this agreement prove to be legally invalid, the validity<br>
          of all other provisions shall remain thereby unaffected. The invalid provision shall be<br>
          replaced as soon as possible by another provision that reflects as closely as possible the<br>
          financial intent of the legally invalidated provision.<br>
          </p>


        </div>
        <hr class="clear">
    </div>
</div>
