<div class="content" ng-controller="passwordRecoveryController" ng-init="init()">
  <div class="top_img"></div>
    <div class="bottom_img"></div>
   <div class="inner">
       <sidebar></sidebar>
       <div class="right">
            <h1>{{pageTitle}}</h1>
            <form action="support" method="post" id="roa_password_recovery_form">
               <h3>E-Mail</h3>
                <div class="line">
                   <div class="block">
                       <label for="name">Please provide your email</label>
                       <input data-validation="email" ng-model="email" type="text" name="email" id="email" placeholder="Email">
                   </div>
                </div>
                <hr>
                <input type="submit" class="animate support" value="Recover">
            </form>
        </div>
    </div>
</div>
