<div class="content privacyPolicy" >
    <div class="top_img"></div>
    <div class="bottom_img"></div>
    <div class="inner">
        <sidebar></sidebar>
        <div class="right">
          <h1>Privacy protection</h1>
          <p>
We here at Quantum Bytes take the protection of your personal information very seriously<br>
and adhere strictly to the rules of the data protection acts. We only gather personal<br>
information on our services (webpage, forum, Wiki, Mantis, Relics of Annorath) to the<br>
extent necessary to meet technical requirements. Under no circumstances will the data<br>
collected be sold or provided to third parties for other purposes.<br>
<br>
The following statement gives an overview of how we ensure this protection and what<br>
type of data is collected and for what purpose.<br>

</p><li>Data processing for the offered services</li>

<br>
Quantum Bytes automatically collects and stores information that your browser sends<br>
to us in its server log files and database. This includes:<br>
<ul>
<li>Browser type/version</li>
<li>Operating system</li>
<li>Referrer URL (previously visited site)</li>
<li>Hostname of the accessing computer (IP address)</li>
<li>Time of the server request.</li>
</ul>

Quantum Bytes cannot match this data to specific individuals. This data is not merged<br>
with other data sources.<br><br>
Quantum Bytes gathers personal information for services that require a login for access.<br>
This data is only gathered for purposes of guaranteeing the reliable operation of the<br>
offered services.
<br>
<br>
In addition, Quantum Bytes may use this personal data as legal recourse in the event of<br>
a violation of the GTC, NDA or other contractual documents that have been concluded<br>
with the user.
<br>
<br>
<li>Cookies</li>
<br>
The webpages use so-called cookies at several locations. Their purpose is to make our<br>
service more user-friendly, effective and secure. Cookies are small text files that are<br>
stored on your computer by your browser. Most of the cookies we use are so-called<br>
"session cookies". They are automatically deleted after your visit. Cookies will not<br>
harm your computer and do not contain viruses.<br>
<br>
<li>Newsletter</li>
<br>
If you wish to receive the newsletter offered on our website, we require a valid e-mail<br>
address and information that allows us to verify that you are the owner of the e-mail<br>
address or that the owner agrees to receive the newsletter. No additional data will<br>
be collected.
<br><br>
You may at any time withdraw your consent to store the data and the e-mail address,<br>
and for use thereof to send the newsletter.
<br><br>
<li>Right to information</li>
<br>
You have at all times the right to be informed about the data we have stored with<br>
reference to your person, the origin of the data and its recipient as well as the<br>
purpose of its storage. Our data protection administrator is responsible for managing<br>
information on data stored (datenschutz@quantum-bytes.com).
<br><br>
<li>Additional information</li>
<br>
Your trust is important to us, which is why we are always here to answer any questions<br>
you may have concerning your personal information. If you have any questions that have<br>
not been answered in this data protection statement or if you wish to have more detailed<br>
information on a specific issue, please contact our data protection administrator at any<br>
time <a href="mailto:datenschutz@quantum-bytes.com">(datenschutz@quantum-bytes.com)</a>.
<br>
<p></p>


        </div>
        <hr class="clear">
    </div>
</div>
