@import '../lib/helper';
/*  ------------------------------------------------
    RADIO BUTTON
    ------------------------------------------------  */
/*
.sprites { background: url(sprites.png) no-repeat; }
.radiobutton { width: 17px; height: 17px; background-position: 0 0; }
.radiobutton_checked { width: 17px; height: 17px; background-position: 0 -18px; }
.radiobutton_checked_disabled { width: 17px; height: 17px; background-position: 0 -36px; }
.radiobutton_checked_hover { width: 17px; height: 17px; background-position: 0 -54px; }
.radiobutton_disabled { width: 17px; height: 17px; background-position: 0 -72px; }
.radiobutton_hover { width: 17px; height: 17px; background-position: 0 -90px; }*/

$img_radiobutton: url($amazonUrl + '/img/controls/radiobutton/radiobutton_sprite.png');

input[type='radio']
{

  opacity: 0;
  position: absolute;
  filter: alpha(opacity=0);
  margin: 5px 0 0 5px
}

input[type='radio']:focus + label {

}

input[type="radio"] + label {
  background: $img_radiobutton 0 0 no-repeat;
  position: relative;
  margin: 0;
  padding: 0 0 0 25px;
  cursor: pointer;
  line-height: 17px;
  min-height: 17px;
  display: inline-block;
  z-index: 0
}


input[type="radio"] + label {
   background: $img_radiobutton 0 0 no-repeat;
}


input[type='radio']:checked + label {
   background: $img_radiobutton 0 -18px no-repeat;
}



input[type='radio']:disabled + label {
  background: $img_radiobutton 0 -72px no-repeat;
opacity:0.4;
}


input[type='radio']:disabled:checked + label {
 background: $img_radiobutton 0 -36px no-repeat;
opacity:0.4;
}






//Hovered state
input[type=radio]:hover + label,
input[type=radio] + label:hover {
  background: $img_radiobutton 0 -90px no-repeat;
    text-shadow: 0 0 1px #7d4022;
}

//Hovered state
input[type=radio]:checked:hover + label,
input[type=radio] + label {
   background: $img_radiobutton  0 -54px no-repeat;
    text-shadow: 0 0 1px #7d4022;
}

//Hovered state
input[type=radio]:disabled:checked:hover + label,
input[type=radio] + label {
   background: $img_radiobutton  0 -36px no-repeat;
  text-shadow:none;
}

//Hovered state
input[type=radio]:disabled:hover + label,
input[type=radio] + label {
   background: $img_radiobutton 0 -72px no-repeat;
  text-shadow:none;
}
