<div class="slide-wrapper" ng-controller="sliderController" ng-init="init()">
    <div class="slider">
        <img src="{{guiURL}}img/forward.png" alt="" class="forward btn animate">
        <img src="{{guiURL}}img/back.png" alt="" class="back btn animate">
        <img src="{{guiURL}}img/bannerhalteroben.png" alt="" class="top-wood">
        <img src="{{guiURL}}img/bannerhalterunten.png" alt="" class="bottom-wood">
        <img src="{{guiURL}}img/juwel.png" alt="" class="slide-juwel">
        <div class="overflow">
            <ul class="slides swiper-wrapper">
                <li class="slide swiper-slide">
                    <img src="{{guiURL}}img/slide1.jpg" class="bannerbild" alt="slide1">
                    <img class="playbutton animate" src="{{guiURL}}img/playbutton.png" alt="">
                    <div class="bannertext">
                        <h2>Entdecke neue Gebiete.</h2>
                        <p>Sammle Ressourcen.</p>
                    </div>
                </li>
                <li class="slide swiper-slide">
                    <img src="{{guiURL}}img/slide1.jpg" class="bannerbild" alt="slide1">
                    <img class="playbutton animate" src="{{guiURL}}img/playbutton.png" alt="">
                    <div class="bannertext">
                        <h2>Entdecke neue Gebiete.</h2>
                        <p>Sammle Ressourcen.</p>
                    </div>
                </li>
                <hr class="clear">
            </ul>
        </div>
    </div>
</div>
