<div class="share animate" ng-controller="socialShareController" ng-init="init()">
    <div class="socialbox">
        <a class="btn animate fb" target="_blank" rel="nofollow" href="https://www.facebook.com/sharer/sharer.php?u={{encodedUri}}">
          <div/>
        </a>
        <a class="btn animate twtr" target="_blank" rel="nofollow" href="https://twitter.com/home?status={{encodedUri}}">
          <div/>
        </a>
        <a class="btn animate gplus" target="_blank" rel="nofollow" href="https://plus.google.com/share?url={{encodedUri}}">
          <div/>
        </a>

        <img class="arw">
    </div>
</div>
