<link href='https://fonts.googleapis.com/css?family=Electrolize' rel='stylesheet' type='text/css'>
<body style="background-color: black;">
<div class="location-overlay">
    <span class="loc">Wyriel Outpost</span>
    <span class="area">West Weruna</span>
    <span class="flag"><img src="locationoverlay/faction_holy.png"></span>
</div>
</body>

  <style type="text/css">

    .location-overlay {
	font-family: 'Electrolize', sans-serif;
    width: 600px;
    height: 350px;
    }

    .loc {
        margin: 3.8rem 11rem;
        position: absolute;
        color: rgba(255, 255, 255, 0.14);
        font-weight: bold;
        text-shadow: 0px 0px 1px #fff;
        font-size: 4em;
    }

    .area {
        margin: 8rem 11rem;
        position: absolute;
        color: rgba(255, 255, 255, 0.14);
        text-shadow: 0px 0px 1px #fff;
        font-size: 3em;
    }

    .flag {
        position: absolute;
        -webkit-transform: scale(0.5);
    }

      /**/



  </style>
