<link rel="stylesheet"  ng-href="" preload-scope  />
<div class="flexAligner">
    <div class="flexAligner-item">

          <div class="view_ESC_MENU_container">
            <div class="buttonContainer">
                 <div class="container">
                    <button-text button-click="settings()" button-label="TB_SETTINGS"></button-text>
                     <span style="padding-left:5px"></span>
                       <button-text button-click="help()" button-label="TB_HELP" ></button-text>
                         <span style="padding-left:5px"></span>
                       <button-text button-click="quit()" button-label="TB_QUIT" ></button-text>
                         <span style="padding-left:5px"></span>
                       <button-text button-click="close()" button-label="TB_CLOSE" ></button-text>
                        <span style="padding-left:5px"></span>
                       <button-text button-click="log()" button-label="LOG" ></button-text>


                  </div>
            </div>
          </div>
    </div>
</div>
