{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% blocktrans %}
    Account activation
    {% endblocktrans %}
{% endblock title %}

{% block content %}
    {% blocktrans %}
    To activate your account you need to enter a password. Please fill out the mandatory fields.
    {% endblocktrans %}
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Set new password" class="btn btn-lg btn-primary btn-block" >
        </form>
{% endblock content %}