{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% blocktrans %}
    Password reset
    {% endblocktrans %}
{% endblock title %}

{% block content %}
    {% blocktrans %}
    To recover your account , please fill out the form below
    {% endblocktrans %}
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Send recovery instructions" class="btn btn-lg btn-primary btn-block" >
        </form>
{% endblock content %}
